@charset "UTF-8";
/*CONTENTS2>ASIDE----------------------------------------------------------------*/
#wrap #contents2 #aside {
    width: 180px;
    float: left;
    margin: 0px 10px;
}
#wrap #contents2 #aside h2 {
    background-color: #ddd;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 20px 15px 20px 15px;
}
#wrap #contents2 #aside ul li {
    border: 1px solid #A6A6A6;
    font-size: 15px;
    padding: 5px 5px 5px 5px;
    margin: 5px 0px 0px 0px;
}
#wrap #contents2 #aside ul li a:hover {
    font-weight: bold;
}
/*CONTENTS2>MAIN--------------------------------------------------------------------*/
#wrap #contents2 #main {
    width: 800px;
    float: left;
    margin: 0px 0px;
}
/*CONTENTS2>MAIN>MAIN-HEADER--------------------------------------------------------*/
#wrap #contents2 #main #main-header {
    border-bottom: 2px solid #a6a6a6;
    margin: 20px 0px 0px 0px;
}
#wrap #contents2 #main #main-header h3 {
    float: left;
    font-size: 20px;
    font-weight: bold;
}
#wrap #contents2 #main #main-header ul {
    float: right;
}
#wrap #contents2 #main #main-header ul li {
    float: left;
}
#wrap #contents2 #main #main-header ul li:after {
    content:">";
}
#wrap #contents2 #main #main-header ul li.last:after {
    content:"";
}
/*CONTENTS2>MAIN>MAIN-BODY--------------------------------------------------------*/
#wrap #contents2 #main #main-body {
    padding: 20px 0px 20px 200px;
}
#wrap #contents2 #main #main-body .formgroup {
    padding: 5px 0px 5px 0px;
    text-align: center;
}
#wrap #contents2 #main #main-body .formgroup .form-text {
    display: inline-block;
    width: 120px;
}
#main-body>#border{
    width: 400px;
    border : 1px solid #999;
    padding : 30px 10px;
}
#main-body>#border button{
    width: 200px;
    height: 30px;
}
/*CONTENTS2>MAIN>MAIN-FOOT--------------------------------------------------------*/
